doctype html
html
  include includes/head
  body
    include includes/header
    div(class='ui grid container content')
      div(class='eleven wide column')
        if(currentUser)
          h3(class='ui header') Welcome to BI-STEPS.COM #{currentUser.username}
        else
          h3(class='ui header') Welcome to BI-STEPS.COM
        span A site dedicated to business intelligence, data analytics, sql, and data warehouse design and developement.
        each post in posts
          h2(class='ui large header') #{post.title}
          span #{post.date_posted_formatted}
          |
          | by
          |
          a(href='') #{post.author.first_name} #{post.author.last_name}
          p(class='blog-summary') #{post.summary}
          a(href='/post/' + post._id) Read More
          div(class='ui divider')
      div(class='four wide right floated column')
        h4(class='ui header') Archives
        div(class='ui list')
          each year in archives
            a(class='item' href='/search/archives/' + year) #{year}
        h4(class='ui header') Categories
        div(class='ui list')
          each category in categories
            a(class='item' href='/search/category/' + category._id ) #{category.description}
    div(class='push')
    include ./includes/scripts
    include ./includes/footer


