doctype html
html
	include ../includes/head
	body
		include ../includes/header
		div(class='ui grid container content')
			div(class='ui container')
				h2(class='ui header')
					i(class='plus circle icon')
					div(class='content') Add Post Details
						div(class='sub header') Add post details form.
				div(class='ui divider')
				form(class='ui form' action='/posts/' + post._id + '/show/post_details/' + post_detail._id + '?_method=PUT' method='post')
					div(class='field')
						label Content Type:
						div(class='ui selection dropdown')
							input(name='content_type' type='hidden' value=post_detail.content_type._id)
							i(class='dropdown icon')
							div(class='text') #{post_detail.content.description}
							div(class='menu')
								each content_type in content_types
									div(class='item' data-value=content_type._id) #{content_type.description}
					div(class='field')
						label(for='content') Content:
						textarea(id='content' name='content') #{post_detail.content}
					div(class='field')
						label(for='sequence') Sequence:
						input(type='number' id='sequence' name='sequence' value=post_detail.sequence)
					button(class='ui primary button' type='submit') Save
				div(class='ui hidden divider')
				a(href='')
					i(class='arrow circle left icon')
					span Back
		include ../includes/scripts
		include ../includes/footer